.content-wrapper {
  /* padding-top: 60px; */
}

.square {
  width: 100px;
  height: 100px;
  background: red;
  transition: height 10s;
  transition-timing-function: ease;
}
.square:hover {
  height: 200px;
}
