<header class="fixed-header" #header>
  <nav>
    <ul>
      <li>
        <a href="#">
          Home
          <span class="jp">ホーム</span>
        </a>
      </li>
      <li>
        <a href="#">
          Gallery
          <span class="jp">画廊</span>
        </a>
      </li>
      <li>
        <a href="#">
          About
          <span class="jp">概要</span>
        </a>
      </li>
      <li>
        <a href="#">
          Contacts
          <span class="jp">連絡先</span>
        </a>
      </li>
    </ul>
  </nav>
  <span class="mini-bar">
    <span class="caret-wrapper">
      <span class="caret">▲</span>
    </span>
  </span>
</header>
